<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="https://oauth.vk.com/authorize?client_id=6702213&display=page&redirect_uri=http://node157754-env-9097097.jelastic.regruhosting.ru/friends&scope=friends&response_type=code&v=5.85" method="post">
    <button type="submit" name="button" value="button1">авторизоваться</button>
</form>
</body>
</html>

